<div class="container">
    <div class="login-form">
      <h2>Login app</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Digite seu email"
            required
          />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            Email é obrigatório.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Digite sua senha"
            required
          />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            Senha é obrigatória.
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </div>
  </div>
  